<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCrb-yMa8-YOSjY79TshDVErmhUsZqpbnM</string>
	<key>GCM_SENDER_ID</key>
	<string>960755529377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aplus.tsukuba2023</string>
	<key>PROJECT_ID</key>
	<string>mobile-aplus-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-aplus-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960755529377:ios:66a9d6df4744c081ab62e0</string>
</dict>
</plist>